PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/emergency_qr_system
JWT_SECRET=change_this_secret
ADMIN_EMAIL=admin@tunwal.local
ADMIN_PASSWORD=Admin@123
APP_BASE_URL=http://localhost:4200
NODE_ENV=development